.formWrap{
    padding:20px 50px;
    background: #5a89bc;
}
.rvCell{
    background: transparent;
    
    
}
.colorFff{
    color:#fff;
    --rv-field-label-color:#fff;
    --rv-cell-value-color:#fff;
    --rv-input-text-color:#fff;
    background:transparent;
}

.colorLink{
    color:blue
}
.check{
    margin-top:10px;
}